doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title :: GMOVIE ::
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 GMOVIE
        main
            div#welcome
                form
                    input(placeholder="회의실 이름", required, type="text")
                    button 회의실 입장
            div#call
                div#myStream
                    video#myFace(autoplay, playsinline, width = "540", height="540")
                    video#peerFace(autoplay, playsinline, width = "540", height="540")
                div(style="text-align: center;")
                    button#mute 마이크 X
                    button#camera 카메라 X
                    select#cameras


            
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")